nav {
    background-color: #333;
    overflow: hidden;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* 将列表项设置为flex布局 */
  }
  
  nav li {
    /* float: left; */ /* 删除float属性 */
    margin-right: 20px; /* 添加右边距 */
  }
  
  nav li:last-child {
    margin-right: 0; /* 删除最后一个列表项的右边距 */
  }
  
  nav li a {
    display:  block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  a:hover, a:active {
    background-color: red;
}

  .bg-image {
    background-image: url(https://img.locyan.cn/i/2023/05/20/6468d6bdc3d49.png);
    background-size: cover; /* 将图片缩放至铺满整个背景 */
    background-position: center; /* 将图片居中显示 */
  }
  #my-background {
    background-image: url('https://img.locyan.cn/i/2023/05/20/6468d6bdc3d49.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  @media (max-width: 768px) {
    #header {
      background-size: contain;
    }
  }